.footer {
    padding: 40px 80px;
    position: relative;
    height: 160px;
  }
  
  .footer .company_info {
    color: #656565;
  }
  
  .footer .company_info ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 25px;
    margin-bottom: 15px;
  }
  
  .footer .ft_copyright {
    position: absolute;
    right: 80px;
    /* bottom: 30px; */
    font-size: 16px;
    font-weight: 500;
  }
  